<!DOCTYPE html>
<html ng-app="ClientTool">
<head>
	<meta charset="utf-8">
	<title>Client Tool</title>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body ng-controller="mainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <table class="table">
        <tr ng-repeat-start="client in clients" class="ng-class:client.status">
          <td>{{client.id}}</td>
          <td>{{client.country}}</td>
          <td><a
          href="https://www.google.de/?gws_rd=ssl#q={{client.name}}%20{{client.club}}"
          target= "blank">{{client.name}}</a></td><td>{{client.club}}</td><td>{{client.telefon}}</td>
          <td><a href="{{client.link}}" target="blank_">Profil</a></td>
          <td>
            <button type="button" class="btn btn-default btn-lg"
            ng-click="updateStatus(client, 'warning')">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-lg"
            ng-click="updateStatus(client, 'success')">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-lg"
            ng-click="updateStatus(client, 'danger')">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-lg"
            ng-click="clientEdit(client)" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
            </button>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="client.comment" class="ng-class:client.status">
          <td>
            Comments: 
          </td>
          <td colspan="9">
            {{client.comment}} 
          </td>
        <tr>
      </table>
    </div>

		<!-- Modal -->
		<div ng-controller="editCtrl" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Edit Client</h4>
		      </div>
		      <div class="modal-body">
						<table class="table">
							<thead>
								<th>Name</th>
								<th>Club</th>
								<th>Telefon</th>
							</thead>
        			<tr>
        			  <td><input style="width:100%" type="text" ng-model="nameEdit" /></td>
        			  <td><input style="width:100%" type="text" ng-model="clubEdit"/></td>
        			  <td><input style="width:100%" type="text" ng-model="telefonEdit"/></td>
							</tr>
							<tr>
								<td style="font-size: bold; text-align: right">Comment:</td>
        			  <td colspan="2"><input style="width:100%" type="text" ng-model="commentEdit"/></td>
        			</tr>
						</table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clientSave()">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal End -->

  </div>
</body>
</html>
